
{% extends 'base.html' %}

{% block title %}Create Sales Report{% endblock title %}

{% block content %}
{% load static %}
<h2 class="text-center mt-4">Create Sales Report</h2>

<div class="container mt-5" >
    <div class="row justify-content-center" >
        <div class="col-md-12" style="border: 2px solid gray; width: 400px; border-radius: 10px; padding: 10px;">
            {% load rest_framework %}
            <form method="POST" style="padding:15px">
                {% csrf_token %}
                {% render_form serializer template_pack='rest_framework/vertical' %}
                <div class="mt-4 d-flex justify-content-center">
                    <button type="submit" class="btn btn-outline-success me-4">Create</button>
                    <a href="{% url 'sales_reports_list' %}" class="btn btn-outline-danger" role="button">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}