{% extends 'base.html' %}
{% block title %} Homepage {% endblock title %}

{% block content %}
{% load static %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-{message.tags} d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="{message.tags|title}:"><use xlink:href="#check-circle-fill"/></svg>
    <div>
      {{message}}
    </div>
</div>
{% endfor %}
{% endif %}

<h2 class="text-center my-2"> Sales Data of Company AZ</h2>

<img src="" alt="Sales Agent Image">
{% endblock content %}